# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.sqlite3
*.log
staticfiles/
media/
local_settings.py

# Environment
.env
.venv
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
desktop.ini
